html,
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
span,
div,
p,
input,
textarea {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    list-style: none;
    font-size: 14px;
    color: rgba(0, 0, 0, .8);
    font-weight: normal;
}

* {
    outline: none !important;
    text-decoration: none;
}



body {
    width: 100%;
}

/* nav */


@media (min-width: 992px) {
    .navbar {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}


.logo {
    margin-left: 5%;
}

.logo a {
    color: #fc7d29;
}


/* about */

section.about {
    position: relative;
    display: flex;
    margin: 50px 5% 0;
    height: 600px;
}

.about-left {
    position: relative;
    z-index: 0;
    width: 50%;
    min-width: 30%;
    height: 100%;
}

.about-left_bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 80%;
    width: 70%;
    background-image: url('./img/pexels-alexy-almond-3758133.jpg');
    background-size: cover;
    margin: 20px 0 40px;
}

.about-left_photo {
    z-index: 5;
    background-image: url('./img/DSC_5271.jpg');
    background-size: cover;
    background-position: center;
    border: 2px solid white;
    height: 72%;
    margin: 30% 10% 3% 20%;
}

.about-right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    width: 50%;
    min-width: 30%;
    height: 100%;
}

.about-rigth_bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    background-color: #f9e6da;
    z-index: -3;
    height: 100%;
}

.about-right_text {
    width: 80%;
    background-color: #dcf0fd;
}

.about-right_text-wrap {
    padding: 20px;

}

.about-right_text .btn {
    display: block;
    height: 40px;
    width: 80%;
    color: #dcf0fd;
    border: 1px solid #f7b78c;
    margin: 10px 10%;
    background-color: #f7b78c;
}

.about-right_text .btn:hover {
    color: #dcf0fd !important;
}


/* motivation */

.motivation {
    background-color: rgba(249, 230, 218, 0.95);
    padding: 3% 10%;
    margin: 0 20%;
    /* background-color: #f9e6da; */
}

.motivation h4 {
    text-align: end;
}

.motivation-wrap {
    margin-top: 50px;
    background-image: url('./img/pexels-run-ffwpu-2526878.jpg');
    background-size: cover;
    width: 100%;
}

.motivation-text img {
    margin: 10px auto 0 50%;
    height: 36px;
    width: 36px;
    color: #fc7d29;
}

.motivation-text p {
    font-size: 18px;
    color: rgba(0, 0, 0, .8);
}

.motivation-text span {
    display: block;
}

/* info */
section.info {
    height: 400px;
    padding: 20px 7%;
    margin: 7% 0;
    background-color: #f9e6da;

}

.info .info-round {
    color: #fc7d29;
    padding-top: 40px;
    text-align: center;
}

.info .info-text {
     display: flex;
    justify-content: space-between; 
    margin: 60px 0 20px 10px;
    text-align: center;
}

.info-line span {
    line-height: 40px;
    font-size: 18px;
    opacity: 0.8;
}

.info-line .info-icon img {
    margin-bottom: 30px;
    height: 80px;
    width: 80px;
}



/* service */

section.service {
    position: relative;
    display: flex;
    margin: 0 7%;
    height: 600px;
}

.service-action {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service .service-btn {
    display: block;
    height: 40px;
    width: 100px;
    color: #dcf0fd;
    border: 1px solid #f7b78c;
    margin: 10px;
    background-color: #f7b78c;
}

.service.third {
    height: 400px;
}

.service1-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    height: 50%;
    width: 70%;
    background-color: #f9e6da;
}

.service-content {
    width: 50%;
    margin: 20px 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-photo {
    width: 50%;
    background-size: cover;
    background-position: center;
    border: 2px solid white;
    margin: 30px;
}

.service-photo.first {
    background-image: url('./img/pexels-chevanon-photography-323682.jpg');
}

.service-photo.second {
    background-image: url('./img/pexels-pnw-production-9218663.jpg');
}

.service-photo.third {
    background-image: url('./img/pexels-thought-catalog-2228559.jpg');
}

.service2-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 30%;
    width: 80%;
    background-color: #f9e6da;
}

.custom-list li {
    position: relative;
    font-size: 16px;
}

.custom-list li::before {
    content: '-';
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fc7d29;
}

.service-price {
    color: #fc7d29;
    font-size: 30px;
    float: right;
    line-height: 30px;
}


/* feedback */

section.feedback {
    height: 500px;
    margin: 0 7%;

}

.feedback-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.feedback-photo {
    background-size: cover;
    background-position: center;
    width: 30%;
    height: 65%;
    border: 2px solid white;
}

.feedback-photo.first {
    background-image: url('./img/photo_2024-02-05_12-57-09.jpg');
}

.feedback-photo.second {
    background-image: url('./img/photo_2024-02-05_12-57-45.jpg');
}

.feedback-photo.third {
    background-image: url('./img/photo_2024-02-05_12-57-15.jpg');
}

.feedback-photo.four {
    background-image: url('./img/photo_2024-02-19_14-40-41.jpg');
    height: 60%;
    width: 22%;
    margin-top: 5%;
}

.feedback-photo.five {
    background-image: url('./img/photo_2024-02-19_14-40-47.jpg');
    height: 60%;
    margin-bottom: 5%;
    width: 22%;
}

.feedback-photo.six{
    background-image: url('./img/photo_2024-02-19_14-39-56.jpg');
    height: 60%;
    margin-top: 5%;
    width: 22%;
}

.feedback-photo.seven {
    background-image: url('./img/photo_2024-02-19_14-40-51.jpg');
    height: 60%;
    margin-bottom: 5%;
    width: 22%;
}

/* contacts */

section.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -10% 0;
    padding: 20px 7% 0;
    width: 100%;
    height: 500px;
    background-color: #f9e6da;
}

.contacts-container img {
    height: 50px;
    margin-right: 20px;
    padding-left: 20px;
}

.contacts-container a {
    display: block;
    color: rgba(0, 0, 0, .8) !important;
    font-style: italic;
    float: left;
    font-size: 25px;

}

.contacts-container a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, .8) !important;
}

.contacts-contact {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    &:first-child {
        margin-bottom: 20px;
    }
}

.contacts-icon {
    width: 200px;
    margin-left: 20px;
}

/* footer */

section.footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    background-color: #f8f9fa;
    margin-top: -10%;
    height: 200px;
    padding: 0 7%;

}

section.footer div a img {
    height: 40px;
}

section.footer div a:first-child img {
    margin-right: 10px;
    height: 50px;
} 

section.footer div {
    margin-bottom: 20px;
    
}

/* common styles */

.view {
    display: none;
}

h3,
h4,
h5 {
    color: #fc7d29;
    font-weight: 600 !important;
}

.bold {
    font-weight: 600;
}

.telegram {
    height: 40px !important;
}

@media screen and (max-width: 1000px) {

    section.about {
        display: block;
        height: 700px;
    }

    .about-left {
        width: 100%;
        height: 30%;
    }

    .about-right {
        width: 100%;
        align-items: start;
        margin-top: 10px;
        justify-content: end;
    }

    .about-left_photo {
        height: 100%;
        margin: 10px 0 3% 20%;
        background-image: url('./img/DSC_5271-small.jpg');
    }

    .about-rigth_bg {
        background-color: white;
    }

    .about-right_text {
        background-color: #f9e6da;
        border: 2px solid white;
    }

    .motivation {
        padding: 7%;
        margin: 0 7%;
    }

    .motivation-text span {
        font-size: 13px;
    }

    .motivation-text p {
        font-size: 15px;
    }

    /* info */
    section.info {
        height: 650px;
        border: 2px solid #f9e6da;
        padding-top: 100px;
    }

    .info .info-round {
        font-size: 25px !important;
        padding-top: 0;
    }

    .info .info-text {
        flex-direction: column;
        margin: 40px 0 20px;
    }

    .info .info-line {
        margin-bottom: 20px;
    }

    .info .info-icon img {
        height: 50px;
        margin-bottom: 5px;
    }    

    section.service {
        margin: 0;
    }

    .service.first {
        height: 800px;
    }

    .service.second {
        height: 700px;
    }

    .service.second .service-content {
        margin-right: 10px;
    }

    .service-content {
        width: 70%;
        margin: 20px 0 20px 7%;
    }

    .service-photo {
        width: 30%;
        margin: 10px;
    }

    section.feedback {
        height: 450px;
    }

    section#sertificates {
        height: 400px;
    }

    section.contacts {
        height: 340px;
        margin-bottom: 10%;
        padding: 0 6%;
    }

    section.contacts a {
        font-size: 15px;
        text-align: center;
    }

    .contacts-contact {
        display: block;
        
    }

    .contacts-icon {
        width: auto;
        div {
            display: inline-block;
        }
    }

    section.footer {
        display: block;
        height: 150px;
        padding-top: 15px;
    }

    .hide {
        display: none;
    }

    .view {
        display: block;
    }
}